services:
  php:
    build:
      context: .
      dockerfile: Dockerfile
    # args:
    #   user: arie
    #   uid: 1001
    container_name: laravel_php
    volumes:
      - ./:/var/www
    networks:
      - laravel

  nginx:
    image: nginx:stable-alpine
    container_name: laravel_nginx
    ports:
      - "8088:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    networks:
      - laravel

  redis:
    image: redis:alpine
    container_name: laravel_redis
    # ports:
    #   - "6380:6379"
    networks:
      - laravel

#   echo-server:
#     image: node:18-alpine
#     container_name: laravel_echo_server
#     working_dir: /app
#     volumes:
#       - ./:/app
#     command: sh -c "npm install -g laravel-echo-server && laravel-echo-server start --config=/app/echo-server.json"
#     ports:
#       - "6001:6001"
#     depends_on:
#       - redis
#     networks:
#       - laravel

networks:
  laravel:
    driver: bridge
